---
layout: default
---

{% include hero.html %}

<!--removendo pagina das 3 caixas de feature-->
{% comment %}
    {% include section/feature.html %}
{% endcomment %}

{% include section/marketing.html %}

{% include section/stat.html %}

{% include section/cta.html %}

{% include section/social.html %}

<!--local do price-->
{% include section/price.html %}

{% include section/unique-feature.html %}

<!--removendo brands-->
{% comment %}
    {% include section/brands.html %}
{% endcomment %}

<!--local original do client-review-->
{% include section/client-review.html %}

<!--removendo blog-->
{% comment %}
    {% include section/blog.html %}
{% endcomment %}    

<!--removendo contact-->
{% comment %}
    {% include section/contact.html %}
{% endcomment %}    


