---
layout: default
---

{% include hero.html %}

{% include section/client-review.html %}

<!--remover features-->
<!--{% include section/feature.html %}-->

{% include section/marketing.html %}

{% include section/stat.html %}

{% include section/cta.html %}

{% include section/social.html %}

<!--local do price-->
{% include section/price.html %}

{% include section/unique-feature.html %}

<!--remover brands-->
{% comment %}
    {% include section/brands.html %}
{% endcomment %}

<!--local original do client-review-->

<!--remover blog-->
<!--{% include section/blog.html %}-->

{% comment %}
    {% include section/contact.html %}
{% endcomment %}    


