/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-area {
    padding: 100px 0px;
    @extend .d1-gradient-bg;
    .social-icons {
        a {
            &:hover {
                background: $white !important;
                color: #000000 !important;
            }
        }
    }
}

.footer-area {
    .single-footer-widget {
        h4 {
            color: #ffffff;
            margin-bottom: 30px;
        }
        p {
            color: #2C3333;
        }
        .menu-list {
            li {
                margin-bottom: 10px;
                a {
                    color: #2C3333;
                    @include transition();
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .social-icons {
            li {
                display: inline-block;
                margin-bottom: 5px;
                a {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    background: rgba(#ffffff, .10);
                    color: $white;
                    @include transition();
                }
            }
        }
        @media(max-width:991px) {
            margin-bottom: 50px;
        }
    }
    .footer-bottom {
        text-align: center;
        p {
            color: #00ff18;
            a {
                color: #00ff18;
                text-decoration: underline;
            }
        }
        @media(max-width:991px) {
            margin-top: 0px !important;
        }
    }
}