
//    Font Family

$primary-font	: 'Montserrat', sans-serif;

// --------------------------- aqui está a variação de cor usada em todo site ----------------------

//primary-color faz as cores da SELEÇÃO, BANNER DO CTA, BOTÕES DO CORPO, SELEÇAO DE BOXES e BOTTOM BANNER
$primary-color	: #000000;  
// $primary-color	: #ff7500;  //#

//primary-color2 faz as cores do 1o BANNER DO CTA, BOTOES abaixo do 1o banner e BOTTOM BANNER
$primary-color2	: #141212;

//title-color faz as cores do TEXTO DO MENU DO HEAD BANNER e TÍTULOS DO BODY 
$title-color	: #000000;

//text-color faz as cores dos TEXTOS MENORES DO BODY
$text-color		: #252525;

$aquablue-color : #3eaff5;

//$white faz as cores do HEADER BANNER (menu), TEXTO SELECIONADO, BANNER DOS CLIENTES, 
$white			: #ffffff;

$offwhite		: #000000;
$black			: #222;