
//    Font Family

$primary-font	: 'Montserrat', sans-serif;

// --------------------------- aqui está a variação de cor usada em todo site ----------------------

$primary-color	: #ff7810;  
// $primary-color	: #ff7500;  //#

$primary-color2	: #ff984f;

$title-color	: #ff7810;
$text-color		: #ff7810;
$aquablue-color : #edf6ff;

$white			: #fff;
$offwhite		: #f2f5fa;
$black			: #222;