
//    Font Family

$primary-font	: 'Montserrat', sans-serif;

// --------------------------- aqui está a variação de cor usada em todo site --------------------------------

//primary-color faz as cores da SELEÇÃO, BANNER DO CTA, BOTÕES DO CORPO, SELEÇAO DE BOXES e BOTTOM BANNER
$primary-color	: #000000;  
// $primary-color	: #ff7500;  //#

//primary-color2 faz as cores do 1o BANNER DO CTA, BOTOES abaixo do 1o banner e BOTTOM BANNER
$primary-color2	: #090c46;

//title-color faz as cores do TEXTO DO MENU DO Headbanner e TÍTULOS DO BODY 
$title-color	: #000000;

//text-color faz as cores dos TEXTOS MENORES DO BODY
$text-color		: #252525;

//???
$aquablue-color : #eeee36;

//$white faz as cores do HEADER BANNER (menu), TEXTO SELECIONADO, BANNER DOS CLIENTES, 
$white			: #ffffff;

//offwhite faz as cores do BOTAO DE FREE TRIAL do Headbanner, dos QUADRADOS DAS SOLUCOES e alguns BOTOES DO PRICING QUANDO EM MOUSEOVER
$offwhite		: #f3e5e5;

//faz as cores do TEXTO e SUBTEXTO PRINCIPAL da capa da landing page
$black			: #ffffff;